<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
        <div class="row">
            <div class="col-sm-8"><h2>Perso <b>list</b></h2></div>
            <div class="col-sm-4">
                <a class="btn btn-info add-new" href="/perso/create" ><i class="fa fa-plus"></i> Ajouter un nouveau perso</a>
            </div>
        </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Genre</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% for(var i=1; i < persos.length; i++) { %>
            <th scope="row"><%= i %></th>
            <td><%= persos[i].firstName %></td>
            <td><%= persos[i].lastName %></td>
            <td><%= persos[i].genre %></td>
            <td>
              <a
                class="btn btn-raised btn-warning"
                href="/persos/edit/<%= persos[i]._id %>"
                >Modifier</a
              >
              <a
                class="btn btn-raised btn-danger mx-2"
                onclick="return confirm('Etes vous sûr de supprimer cette personne?');"
                href="/persos/delete/<%= persos[i]._id %>"
                >Supprimer</a
              >
            </td>
          </tr>
          <% }; %>
        </tbody>
      </table>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
